body {
  background: #11091d;
  color: #f1edee;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero-content {
  text-align: center;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.cta {
  position: relative;
  padding: 1em 2em;
  background: #924eff;
  color: #f0f8ff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
  background: #7a3edb;
  box-shadow: rgb(134, 117, 240) 0px 0px 2.78644px,
    rgb(101, 82, 224) 0px 0px 3.48305px, rgb(71, 51, 204) 0px 0px 22.2915px,
    rgb(193, 85, 246) 0px 0px 9.05593px,
    rgb(189, 179, 255) 0px 0px 2.08983px inset,
    rgb(145, 128, 255) 0px 0px 5.57288px inset;
}
